--markup markdown
--fail-on-warning
# We need to manually set the order of the files to ensure stuff like Sorbet's
# sigils don't show up as documentation.
lib/dumb_vm/bit_length.rb
lib/dumb_vm/dsl.rb
lib/dumb_vm/memory.rb
lib/dumb_vm/memory/array_based.rb
lib/dumb_vm/register.rb
lib/dumb_vm/version.rb
lib/dumb_vm.rb